.btn-open {
  background-color: $hover-focus-button;
  color: $color-primery-white;

  font-family: inherit;
  font-weight: 700;
    line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;

  padding: 10px 32px;

  cursor: pointer;

  border-radius: 4px;
  border-color: transparent;
}
