.form-subscribe {
  display: flex;

  &__mail {
    background-color: inherit;
    color: $color-primery-white;

    font-size: 16px;
    line-height: 1.25;

    width: 358px;
    max-height: 50px;

    margin-right: 12px;
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border-color $transition;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      border-color: $hover-focus-button;
    }
  }
}
